<li>
		<a href="javascript:" data-href="/bip/home/empUser/index" class="addTabPage"
		   data-title="${text('电话本')}" title="${text('电话本')}"
		   data-code="1161292554404880384"
		   data-placement="bottom" data-container="body">
			<i class="icon-people"></i>
	</a>
	<script>
<!--		function refreshOnlineCount(){-->
<!--			$.get('${ctx}/sys/online/count?__notUpdateSession=true&__t='-->
<!--					+ new Date().getTime(), function(data){-->
<!--				try{$('#onlineCount').html(Number(data))}catch(e){}-->
<!--			})-->
<!--		}-->
<!--		refreshOnlineCount(); // 先执行一次-->
<!--		setInterval(refreshOnlineCount, 180000); // 3分钟执行一次-->
<!--		$(function(){$('#btnOnline').tooltip()});-->
	</script>
</li>