<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>铜梁南城街道介绍</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
      html,
      body {
        min-height: 100%;
        background: rgba(245, 245, 245, 1);
      }
    </style>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=AXOWnOc8xmbxguAKgw3SR21IzqljeWaF"></script>
  <link rel="stylesheet" href="${ctxStatic}/css/index.min.css" />
</head>
<body style="padding: 10px;">
<div class="todo-info">
  <div class="todo-box box-left box-up">
    <div class="box-header">领导班子成员</div>

    <div id="leaderList" class="leader-list">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#" data-tab=".tab-1">党工委</a></li>
        <li role="presentation"><a href="#" data-tab=".tab-2">办事处</a></li>
        <li role="presentation"><a href="#" data-tab=".tab-3">人大工委</a></li>
        <!-- <li role="presentation"><a href="#" data-tab=".tab-4">区政协</a></li>  -->
      </ul>
      <div class="tab-1">
        <div class="leader-item leader-main">
          <div class="title">主要<br />领导</div>
          <div class="photo-list">
            <div class="photo-item">
              <img class="phote" src="${ctxStatic}/img/photo/06.png" style="cursor:pointer" title="主持街道党工委全面工作，分管武装工作"/>
              <div class="name">刘人铭</div>
              <div class="name"> 党工委书记</div>
            </div>
          </div>
        </div>
        <div class="leader-item">
          <div class="title">副职<br />领导</div>
          <div class="photo-list">
            <div class="photo-item">
              <img class="phote" src="${ctxStatic}/img/photo/08.png" style="cursor:pointer" title="主管党建工作，分管目标考核、工会、规划建设、环境保护等工作"/>
              <div class="name">陈德星</div>
            </div>
            <div class="photo-item">
              <img class="phote"  src="${ctxStatic}/img/photo/03.png" style="cursor:pointer" title="主持纪工委全面工作，分管监察工作"/>
              <div class="name">周  瑜</div>
            </div>
            <div class="photo-item">
              <img class="phote"  src="${ctxStatic}/img/photo/04.png"/>
              <div class="name">祝家福</div>
            </div>
            <div class="photo-item">
              <img class="phote"  src="${ctxStatic}/img/photo/05.png"/>
              <div class="name">陈  伟</div>
            </div>
            <div class="photo-item">
              <img class="phote"  src="${ctxStatic}/img/photo/06.png"/>
              <div class="name">龚川兵</div>
            </div>
            <div class="photo-item">
              <img class="phote"  src="${ctxStatic}/img/photo/07.png"/>
              <div class="name">陈益国</div>
            </div>
            <div class="photo-item">
              <img class="phote"  src="${ctxStatic}/img/photo/08.png"/>
              <div class="name">胡华超</div>
            </div>
            <div class="photo-item">
              <img class="phote"  src="${ctxStatic}/img/photo/09.png"/>
              <div class="name">屈锐</div>
            </div>
            <div class="photo-item">
              <img class="phote"  src="${ctxStatic}/img/photo/0x.png"/>
              <div class="name">张波</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-2" style="display: none;">
        <div class="leader-item leader-main">
          <div class="title">主要<br />领导</div>
          <div class="photo-list">
            <div class="photo-item">
              <img class="phote" />
              <div class="name">张晓天</div>
            </div>
          </div>
        </div>
        <div class="leader-item">
          <div class="title">副职<br />领导</div>
          <div class="photo-list">
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-3" style="display: none;">
        <div class="leader-item leader-main">
          <div class="title">主要<br />领导</div>
          <div class="photo-list">
            <div class="photo-item">
              <img class="phote" />
              <div class="name">范  川</div>
            </div>
          </div>
        </div>
        <div class="leader-item">
          <div class="title">副职<br />领导</div>
          <div class="photo-list">
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-4" style="display: none;">
        <div class="leader-item leader-main">
          <div class="title">主要<br />领导</div>
          <div class="photo-list">
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
          </div>
        </div>
        <div class="leader-item">
          <div class="title">副职<br />领导</div>
          <div class="photo-list">
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
            <div class="photo-item">
              <img class="phote" />
              <div class="name">XXX</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="todo-box box-right box-up">
    <div class="box-header">街道简介</div>
    <div id="areaInfo" class="area-info">
      <div class="area-list tab-1">
        <div class="area-item">
          <div class="title">地理环境</div>
          <img src="${ctxStatic}/img/pic/nancheng.jpg" />
          <div class="detail">
            <div>南城街道成立于2006年10月，2014年7月更名为重庆市铜梁区南城街道。地处东经106.053938，北纬29.833173。耕地保有量约2600公顷，基本农田保护面积1890公顷；城区面积5.71万平方千米，居民小区约122个，城镇化率53.08%。</div>
          </div>
        </div>
        <div class="area-item">
          <div class="title">旅游指南</div>
          <img src="${ctxStatic}/img/tmp/2.png" />
          <div class="detail">
            <div>近年来，街道坚持“生态优先、绿色发展”的理念，依托巴岳山—玄天湖—黄桷门东翼和六赢山—桂花园西翼两大板块，大力推进现代农业和乡村旅游融合发展。在两翼内，星罗棋布地布局着巴岳山森林公园、玄天湖、黄桷门奇彩梦园、六赢山、西部农林大世界、黎家沟现代农业休闲项目、西部桂花博览园等众多乡村旅游项目，形成了各景区相互呼应、相互映衬、相互弥补的良好格局。其中，黄桷门奇彩梦园于2015年成功创建国家4A级风景区，2018年共接待区内外游客90万人次，实现旅游综合收入1.5亿元。</div>
          </div>
        </div>
        <div class="area-item">
          <div class="title">区划人口</div>
          <img src="${ctxStatic}/img/tmp/3.png" />
          <div class="detail">
            <div>街道幅员面积66.24平方公里，辖7个社区、9个村、257个村（居）民小组。截止2018年底，辖区户籍人口7.14万人，其中城镇居民3.79万人，农村居民3.35万人，人口密度为1078人每平方千米；</div>
          </div>
        </div>
        <div class="area-item">
          <div class="title">历史文化</div>
          <img src="${ctxStatic}/img/tmp/4.png" />
          <div class="detail">
            <div>街道境内主要植被类型有亚热带常绿阔叶林、针叶林、竹林、常绿灌木丛和水生植被；有林木资源52种，其中用材林45种、竹类7种，藤本植物、果树、中药材、草本植物灌丛等种类繁多，辖区绿化覆盖率达61.4%，是铜梁城区“东拓南扩”的重要区域，是建设宜居铜梁的主要承载区，具有发展乡村旅游得天独厚的优势和条件。</div>
          </div>
        </div>
      </div>

      <div class="area-list tab-2" style="display: none;">
        <div class="area-item">
          <div class="title">交通概况</div>
          <img src="${ctxStatic}/img/tmp/1.png" />
          <div class="detail">
            <div>街道幅员面积66.24平方公里，辖7个社区、9个村、257个村（居）民小组。</div>
          </div>
        </div>

      </div>
      <div class="area-list tab-3" style="display: none;">第3页</div>
      <div class="area-list tab-4" style="display: none;">第4页</div>

      <div class="pagin-nav">
        <ul class="pagination">
          <li class="active"  data-tab=".tab-1"></li>
          <li  data-tab=".tab-2"></li>
          <!--  <li  data-tab=".tab-3"></li>
            <li  data-tab=".tab-4"></li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="todo-box box-left box-down">
    <div class="box-header">旅游导航</div>
    <div class="travel-nav">
      <a href="#">黄桷门</a>
      <a href="#">天灯石</a>
      <a href="#">飞来石</a>
      <a href="#">棋盘石</a>
      <a href="#">玉兔石</a>
      <a href="#">乳峰石</a>
      <a href="#">手爬岩</a>
      <a href="#">石老虎及仰天窝</a>
      <a href="#">通天河</a>
      <a href="#">旧石器文化遗址</a>
      <a href="#">巴岳寺</a>
      <a href="#">慧光寺</a>
      <a href="#">玄天宫</a>
      <a href="#">明月寺</a>
      <a href="#">玉皇观</a>
      <a href="#">波仑寺</a>
      <a href="#">燃灯寺和青龙洞</a>
      <a href="#">康龙洞</a>
      <a href="#">罗喉寺</a>
      <a href="#">安溪竹海</a>
      <a href="#">龟背石</a>
    </div>
  </div>

  <div class="todo-box box-right box-down">
    <div class="box-header">地图定位</div>
    <div class="todo-map" id="allmap"></div>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script>
      $(function(){
        var $leaderList = $('#leaderList');
        $leaderList.on('click','.nav a', function(){
          $leaderList.find('.nav li').removeClass('active');
          $(this).parent().addClass('active')
          var tab = $(this).data('tab')
          $leaderList.find('>div').hide();
          $leaderList.find(tab).show();
        });

        var $areaInfo = $('#areaInfo');
        $areaInfo.on('click','.pagination li', function(){
          $areaInfo.find('.pagination li').removeClass('active');
          $(this).addClass('active')
          var tab = $(this).data('tab')
          $areaInfo.find('.area-list').hide();
          $areaInfo.find(tab).show();
        });
      })
    </script>

</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例
	map.centerAndZoom(new BMap.Point(106.062662,29.85098), 25);
	map.enableScrollWheelZoom();

	function getBoundary(){
		var bdary = new BMap.Boundary();
		bdary.get("重庆市铜梁区", function(rs){       //获取行政区域
			//map.clearOverlays();        //清除地图覆盖物
			var count = rs.boundaries.length; //行政区域的点有多少个
			if (count === 0) {
				alert('未能获取当前输入行政区域');
				return ;
			}
          	var pointArray = [];
			for (var i = 0; i < count; i++) {
				var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 2, strokeColor: "#ff0000"}); //建立多边形覆盖物
				map.addOverlay(ply);  //添加覆盖物
				pointArray = pointArray.concat(ply.getPath());
			}
			map.setViewport(pointArray);    //调整视野
			map.setZoom(10);
			addlabel();

		});
	}

	function addPoint(map){
	   var point1 = new BMap.Point(106.032618,29.984733);
	    var point2 = new BMap.Point(106.054134,29.832869);

		 var marker1 = new BMap.Marker(point1);
		 var label1 = new BMap.Label("安居镇",{offset:new BMap.Size(20,-10)});
		 label1.setStyle({
			 color : "red",
			 fontSize : "12px",
			 height : "20px",
			 backgroundColor: "0.05",
			 border: "0",
			 lineHeight : "20px",
			 fontFamily:"微软雅黑"
		 });
	     marker1.setLabel(label1);
		 marker1.addEventListener("click",attributeAj);
		 var marker2 = new BMap.Marker(point2);
		 marker2.addEventListener("click",attributeNC);
		 var label2 = new BMap.Label("南城街道",{offset:new BMap.Size(20,-10)});
		 label2.setStyle({
			 color : "red",
			 fontSize : "12px",
			 height : "20px",
			 backgroundColor: "0.05",
			 border: "0",
			 lineHeight : "20px",
			 fontFamily:"微软雅黑"
		 });
	     marker2.setLabel(label2);
		 map.centerAndZoom(point1, 10);
			  // map.addOverlay(marker1);
			  	map.addOverlay(marker2);
	}

	function attributeAj(e){
		var p = e.target;
		window.location.href="http://www.baidu.com";
	}
	function attributeNC(e){
		var p = e.target;
		window.location.href="http://www.sina.com.cn";
	}


	setTimeout(function(){
	   getBoundary();
	}, 2000);


	setTimeout(function(){
       addPoint(map);
	}, 2000);

	function addlabel() {
	    var pointArray = [
	      new BMap.Point(121.716076,23.703799),
	      new BMap.Point(112.121885,14.570616),
	      new BMap.Point(123.776573,25.695422)];
	    var optsArray = [{},{},{}];
	    var labelArray = [];
	    var contentArray = [
	      "台湾是中国的！",
	      "南海是中国的！",
	      "钓鱼岛是中国的！"];
	    for(var i = 0;i < pointArray.length; i++) {
	      optsArray[i].position = pointArray[i];
	      labelArray[i] = new BMap.Label(contentArray[i],optsArray[i]);
	      labelArray[i].setStyle({
			color : "red",
			fontSize : "12px",
				 height : "20px",
				 lineHeight : "20px",
				 fontFamily:"微软雅黑"
			 });
	      map.addOverlay(labelArray[i]);
	    }
	}
</script>